.item {
    width: 350px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #ff6347;
}

.item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f1f1f1;
}

.item p {
    margin: 7px 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

.item-prices {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.item-prices-new {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    padding-left: 10px;
}

.item-prices-old {
    text-decoration: line-through;
    color: #888;
    font-size: 20px;
    padding-left: 10px;
}

.item-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    padding-top: 10px;
}
